@using System.Globalization
@using Composite.AspNet
@using Composite.AspNet.MvcFunctions.Views
@using Composite.Core.WebClient.Renderings.Page
@using Composite.Data
@using Demo.EBook
@model Models.BookDetailViewModel

@{
    
    Layout = null;

    var c = 0;

    var parentPageId = PageManager.GetParentId(PageRenderer.CurrentPageId);
}

<p>
    Book Title: @Model.Title    
</p>
<p>
    Authors: @Model.Author
</p>

<br/>
<p>
    <a href="/page(@parentPageId)">Go back</a>
</p>

@if (Model.Epub != null)
{
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        @foreach (var toc in Model.Epub.TOC)
        {
            var id = toc.ID;
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading-@id">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#toc-@id" aria-expanded="false" aria-controls="collapseTwo">
                            @toc.Title
                        </a>
                    </h4>
                </div>
                <div id="toc-@id" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        @{
                            var words = NplHelper.FindVocabularies(toc.ContentData.GetContentAsPlainText()).ToArray();
                        }
                        <ul>
                            <li>Word count: @words.Length</li>

                            @foreach (var word in words)
                            {
                                <li>@word.Word (@word.OccurrenceCount)
                                    @{
                                        var def = NplHelper.FindDefinition(word.Word);
                                    }
                                    @if (def.Any())
                                    {
                                        <a href="#" tabindex="0" class="definition" data-word="@word.Word" data-toggle="popover" data-trigger="focus" title="@word.Word">Definition</a>
                                @*<a href="#" data-toggle="modal" data-word="@word.Word" data-target="#ldoceonlineModal">
                                    ldoceonline
                                </a>*@
                                    }
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading-all">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#toc-all" aria-expanded="false" aria-controls="collapseTwo">
                        Vocabularies
                    </a>
                </h4>
            </div>
            <div id="toc-all" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    @{
                        var allWords = NplHelper.FindVocabularies(Model.Epub.GetContentAsPlainText()).ToArray();
                    }
                    <ul>
                        <li>Word count: @allWords.Length</li>

                        @foreach (var word in allWords)
                        {
                            <li>@word.Word (@word.OccurrenceCount)
                                <div class="hidden" id="word-@word.Word">
                                    <p>
                                        <ul >
                                            @{
                                                var def = NplHelper.FindDefinition(word.Word);
                                            }

                                            @foreach (var d in def)
                                            {
                                                <li>@d.Gloss
                                                    @*<ul>
                                                    @foreach (var m in  d.Words)
                                                    {
                                                        <li>@m</li>
                                                    }
                                                </ul>*@
                                                </li>
                                            }
                                        </ul>
                                    </p>
                                </div>

                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>



@*<h2>All words</h2>
@{
    var allWords = NPLHelper.FindVocabularies(Model.Epub.GetContentAsPlainText()).ToArray();
}
<ul>
    <li>Total words: @allWords.Length</li>
    @foreach (var wor in  allWords)

    {
        <li>@wor.Word (@wor.OccurrenceCount)</li>
    }
</ul>*@
    <div class="modal fade" id="ldoceonlineModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"><span class="word"></span></h4>
                </div>
                <div class="modal-body">
                    <iframe frameBorder="0" height="400" data-src="https://www.ldoceonline.com/dictionary/" src="" style="width: 100%; padding: 0; border: 0; height: 400px"></iframe>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}
    <script type="text/javascript">

        $(function() {
            $('#ldoceonlineModal').on('show.bs.modal',
                function(e) {
                    var jq = $(e.relatedTarget);
                    var iframe = $(this).find('iframe');
                    iframe.attr('src', iframe.data('src') + jq.data('word') + '?output=embed');
                    $(this).find('.word').text(jq.data('word'));
                });
            $('.definition').on('click',
                function(e) {
                    e.preventDefault();
                });
            $('[data-toggle="popover"]').popover({
                html: true,
                content: function() {
                    var word = $(this).data('word');
                    return $('#word-' + word).html();
                }
            });
        })
    </script>
