@inherits CompositeC1WebPage
@{
    string stylesFolder = "~/Frontend/Styles";
    string jsFolder = "~/Frontend/Scripts";
    string websiteTitle = HomePageNode.Title;
}
<!DOCTYPE html>
<f:function name="Composite.Web.BundlingAndMinification" xmlns:f="http://www.composite.net/ns/function/1.0">
    <f:param name="Page">
        <html xmlns="http://www.w3.org/1999/xhtml" class="no-js" lang="@Lang">
        
        <head>
            <title>@CurrentPageNode.Title</title>
            @if (!string.IsNullOrEmpty(CurrentPageNode.Description))
            {
                <meta name="description" content="@CurrentPageNode.Description"/>
            }
            @PageTemplateFeature("Descriptive HTML head elements")
            
            <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js">
            </script>

            <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js">
            </script>

            <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js">
            </script>
            <script type="text/javascript" src="//cdn.rawgit.com/Orajo/jquery-gototop-plugin/564b4e54/jquery.gototop.min.js"></script>
        </head>
        <body>
        <header class="navbar navbar-default navbar-static-top" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="@HomePageNode.Url" class="navbar-brand">@websiteTitle</a>
                </div>
                <div class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
                    @PageTemplateFeature("Main Navigation")
                    <div class="service-nav">
                        @PageTemplateFeature("Service Menu")
                    </div>
                </div>
            </div>
        </header>
        <div class="container">
            @* renders the sub template: *@
            @RenderBody()
            <a id="totopicon" href="#" class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-chevron-up fa-stack-1x fa-inverse" aria-hidden="true"></i>
                <i class="sr-only">Go to top</i>
            </a>
            <script type="text/javascript">
                $('#totopicon').gototop();
            </script>
            @PageTemplateFeature("Content Footer")
            <hr/>
            <footer role="contentinfo">
                @PageTemplateFeature("Page Footer")
            </footer>
        </div>
        </body>
        </html>
</f:param>
</f:function>